[submodule "mentat"]
	path = mentat
	url = git@github.com:amarchese96/mentat.git
[submodule "scheduler-plugins"]
	path = scheduler-plugins
	url = git@github.com:amarchese96/scheduler-plugins.git
	branch = sophos
